record_count= sheet.row_count
column_count= sheet.columns.length
header_hash= sheet.header.hash
header_hash_image_base64='data:image/svg+xml;base64,' + new Buffer(sheet.header.hash_image).toString('base64')
    //include ./column_preview.pug
    include column_details.pug