html
    head
        meta(charset="UTF-8")
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet print')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
        style.
            .no-padding{ padding:0px !important; }

            .tooltip-inner {
                max-width: 300px;
                /* If max-width does not work, try using width instead */
                /*width: 350px;*/
            }

            @media print {
                .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
                    padding:4px;
                }

                .badge{
                    font-size:8px;
                }

                .row {
                    margin-right: -2px;
                    margin-left: -2px;
                }
                .list-group-item-heading{
                    margin-bottom:0;
                }

                body{
                    font-size:9px;
                }
                .panel{
                    border:0;
                }
                .panel-heading {
                    padding: 2px 4px;
                }
                .panel-body{
                    padding: 0px;
                }

                .panel-group .panel + .panel {
                    margin-top: 0px;
                }

                .btn {
                    padding: 2px 4px;
                }
                .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
                    padding-right:2px;
                    padding-left:2px;
                }

                .container {
                    padding-right: 15px;
                    padding-left: 15px;
                    width:100% !important;
                }

                td .hash-icon{
                    width:20px;
                }

                .column-hash img{
                    width:20px;
                }

                .hidden-details{
                    padding-left:10px;
                }

                .btn {
                    border: 0;
                    font-size: 10px;
                }

                .h1, h1 {
                    font-size: 20px;
                }
                .h2, h2 {
                    font-size: 16px;
                }
                .h3, h3 {
                    font-size: 14px;
                }
                .h4, h4 {
                    font-size: 12px;
                }
                .h5, h5 {
                    font-size: 11px;
                }
                .h6, h6 {
                    font-size: 10px;
                }

                .h4, .h5, .h6, h4, h5, h6 {
                    margin-top: 1px;
                    margin-bottom: 1px;
                }
            }
    body
        div(class='container')
            div(class="col-md-12")
                h1= workbook.basename

                h2 Sheets &nbsp;
                    span(class="badge")=workbook.sheets.length
                    span(class="badge pull-right")
                        =workbook.properties.encoding.encoding
                        =" - " + workbook.properties.encoding.percent_confidence + "%"
                div(class="panel-group")

                    each sheet, sheet_index in workbook.sheets
                        include sheet

            div(class="col-md-12")
                p Gabe's Data Preflight v0.03

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(type="text/javascript").
            $(function () {
                $('[data-toggle="tooltip"], .bind-tooltip').tooltip({
                    container: 'body'
                });
                $('[data-toggle="collapse"]').click(function(){
                    $(this).toggleClass("active");
                })
            });