h4 Column Details

div(id="#column-details")
    each row, index in sheet.columns.preview
        - var key = Object.keys(row)[0]
        - var unique_values = row[key][5]
        h5
            small=(index+1)+" "
            =key
        div(class="btn-group")
            button(type="button", class="btn btn-default", data-toggle="tooltip", title="Minimum length")
                i(class="fa fa-compress")
                =" " + row[key][3]
            button(type="button", class="btn btn-default", data-toggle="tooltip", title="Maximum length")
                i(class="fa fa-expand")
                =" " + row[key][4]
            button(type="button", class="btn btn-default bind-tooltip", data-toggle="collapse", data-target="#column-data-values-"+index, title="Unique values")
                i(class="fa fa-star-half-o")
                if row[key][5].length === sheet.row_count
                    =" ALL"
                else
                    =" " + row[key][5].length
        div(id="column-data-values-"+index, class="collapse")
            - var preview_value_limit = 100
            if row[key][5].length > preview_value_limit
                h6="Data Values (Top "+preview_value_limit+")"
            else
                h6="Data Values"
            each value, index in row[key][5]
                if index < preview_value_limit
                    if typeof value == "undefined"
                        span(class="label label-warning single-value-marker")
                            i(class="fa fa-times")
                    else
                        span(class="label label-info single-value-marker")=value
                    =" "